
<ng-container>
  <button>
    <a class="nav-bar-item" routerLink="/home">Home</a>
  </button>
  <button class="px-3">
    <a class="nav-bar-item" routerLink="/about">About</a>
  </button>
  <br>
  <mat-icon>language</mat-icon>
  <button mat-button [matMenuTriggerFor]="menu">
     {{ siteLanguage }}
     <mat-icon>arrow_drop_down</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <a mat-menu-item href="/en/">English</a>
    <a mat-menu-item href="/nl/">Dutch</a>
    <a mat-menu-item href="/sr/">Serbian</a>
  </mat-menu>
</ng-container>
<div>
  <h1 i18n>Hello World!</h1>
</div>

<nav class="container mb-4 mt-4">
  <div class="row">
      <div class="col-9">
          <div class="col-3">
              <select class="custom-select
">
                  <option value="nl
">Netherlands</option>
                  <option value="
">English</option>
              </select>
          </div>
      </div>
  </div>
</nav>
